<?xml version="1.0" encoding="utf-8"?>
<CSFile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LastWrite>2026-05-14T21:29:03.3191491-04:00</LastWrite>
  <Path>C:\Users\user\Desktop\VietnamWarModLab\NoHitmarker\Plugin.cs</Path>
  <Name>Plugin</Name>
</CSFile>